autoencoderTraining/model.ckpt
autoencoderTraining/logs
autoencoderTraining/figures
autoencoderTraining/kl-f8.ckpt
autoencoderTraining/tb_logs
taming/modules/autoencoder/lpips/vgg.pth
autoencoderTraining/data
autoencoderTraining/weights
autoencoderTraining/comparisons